@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Language: css */
body {
  background-color: #f3f3eb;
  box-sizing: border-box;
  margin: 0;
}

.text-presentation {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 3rem;
    width: 25rem;
  }
  
.p-presentation {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.10rem;
    width: 30rem;
  }

.page-home {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
  
  }
  





  @media screen and (max-width: 768px) {
    .navbar {
      display: none;
    }
  }